<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzxy.ssm.mapper.AcmgTTaskInstanceMapper" >
  <resultMap id="InstanceMap" type="com.zzxy.ssm.po.AcmgTTaskInstance" >
    <id column="INSTANCE_ID" property="instanceId" jdbcType="VARCHAR" />
    <result column="INSTANCE_TYPE" property="instanceType" jdbcType="VARCHAR" />
    <result column="INSTANCE_NAME" property="instanceName" jdbcType="VARCHAR" />
    <result column="INSTANCE_FLAG" property="instanceFlag" jdbcType="VARCHAR" />
    <result column="INSTANCE_STATUS" property="instanceStatus" jdbcType="INTEGER" />
    <result column="INSTANCE_TIME" property="instanceTime" jdbcType="TIMESTAMP" />
    <result column="INSTANCE_START_TIME" property="instanceStartTime" jdbcType="TIMESTAMP" />
    <result column="INSTANCE_END_TIME" property="instanceEndTime" jdbcType="TIMESTAMP" />
    <result column="INSTANCE_SCRIPT_PATH" property="instanceScriptPath" jdbcType="VARCHAR" />
    <result column="TACHE_ID" property="tacheId" jdbcType="VARCHAR" />
  </resultMap>
  
  <!-- Instance字段列表 -->
  <sql id="Instance_Column_List" >
    INSTANCE_ID, INSTANCE_TYPE, INSTANCE_NAME, INSTANCE_FLAG, INSTANCE_STATUS, INSTANCE_TIME, 
    INSTANCE_START_TIME, INSTANCE_END_TIME, INSTANCE_SCRIPT_PATH, TACHE_ID
  </sql>
  
  <!-- InstanceCustom字段列表 -->
  <sql id="InstanceCustom_Column_List" >
    INSTANCE_ID instanceId, INSTANCE_TYPE instanceType, INSTANCE_NAME instanceName, 
    INSTANCE_FLAG instanceFlag, INSTANCE_STATUS instanceStatus, INSTANCE_TIME instanceTime, 
    INSTANCE_START_TIME instanceStartTime, INSTANCE_END_TIME instanceEndTime, 
    INSTANCE_SCRIPT_PATH instanceScriptPath, TACHE_ID tacheId
  </sql>
  
  <!-- 查询实例包装类条件拼接 -->
  <sql id="Query_InstanceCustom_Where">
     <if test="instanceCustom != null">
       <if test="instanceCustom.tacheId != null and instanceCustom.tacheId != ''">
        and TACHE_ID = #{instanceCustom.tacheId,jdbcType=VARCHAR}
       </if>
     </if>
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="InstanceMap" parameterType="java.lang.String" >
    select 
    <include refid="Instance_Column_List" />
    from acmg_t_task_instance
    where INSTANCE_ID = #{instanceId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据查询VO获取实例信息 -->
  <select id="getInstanceByVO" resultType="com.zzxy.ssm.po.AcmgTTaskInstanceCustom" parameterType="com.zzxy.ssm.po.AcmgTTaskInstanceQueryVO" >
    select 
    <include refid="Instance_Column_List" />
    from acmg_t_task_instance
    where INSTANCE_ID = #{instanceId,jdbcType=VARCHAR}
  </select>
  
  <!-- 根据查询VO获取实例列表 -->
  <select id="listInstanceByVO" resultType="com.zzxy.ssm.po.AcmgTTaskInstanceCustom" parameterType="com.zzxy.ssm.po.AcmgTTaskInstanceQueryVO">
    select 
    <include refid="InstanceCustom_Column_List" />
    from acmg_t_task_instance
    <trim prefix="WHERE" prefixOverrides="AND |OR ">
      <include refid="Query_InstanceCustom_Where"/>
    </trim>
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from acmg_t_task_instance
    where INSTANCE_ID = #{instanceId,jdbcType=VARCHAR}
  </delete>
  
  <!-- 新增环节实例信息 -->
  <insert id="insertInstance" parameterType="com.zzxy.ssm.po.AcmgTTaskInstance" >
    <selectKey keyProperty="instanceId" order="BEFORE" resultType="java.lang.String">
      select upper(replace(UUID(),'-',''))
    </selectKey>
    insert into acmg_t_task_instance
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        INSTANCE_ID,
      </if>
      <if test="instanceType != null" >
        INSTANCE_TYPE,
      </if>
      <if test="instanceName != null" >
        INSTANCE_NAME,
      </if>
      <if test="instanceFlag != null" >
        INSTANCE_FLAG,
      </if>
      <if test="instanceStatus != null" >
        INSTANCE_STATUS,
      </if>
      <if test="instanceTime != null" >
        INSTANCE_TIME,
      </if>
      <if test="instanceStartTime != null" >
        INSTANCE_START_TIME,
      </if>
      <if test="instanceEndTime != null" >
        INSTANCE_END_TIME,
      </if>
      <if test="instanceScriptPath != null" >
        INSTANCE_SCRIPT_PATH,
      </if>
      <if test="tacheId != null" >
        TACHE_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="instanceId != null" >
        #{instanceId,jdbcType=VARCHAR},
      </if>
      <if test="instanceType != null" >
        #{instanceType,jdbcType=VARCHAR},
      </if>
      <if test="instanceName != null" >
        #{instanceName,jdbcType=VARCHAR},
      </if>
      <if test="instanceFlag != null" >
        #{instanceFlag,jdbcType=VARCHAR},
      </if>
      <if test="instanceStatus != null" >
        #{instanceStatus,jdbcType=INTEGER},
      </if>
      <if test="instanceTime != null" >
        #{instanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceStartTime != null" >
        #{instanceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceEndTime != null" >
        #{instanceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceScriptPath != null" >
        #{instanceScriptPath,jdbcType=VARCHAR},
      </if>
      <if test="tacheId != null" >
        #{tacheId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <!-- 更新环节实例信息 -->
  <update id="updateInstance" parameterType="com.zzxy.ssm.po.AcmgTTaskInstance" >
    update acmg_t_task_instance
    <set >
      <if test="instanceType != null" >
        INSTANCE_TYPE = #{instanceType,jdbcType=VARCHAR},
      </if>
      <if test="instanceName != null" >
        INSTANCE_NAME = #{instanceName,jdbcType=VARCHAR},
      </if>
      <if test="instanceFlag != null" >
        INSTANCE_FLAG = #{instanceFlag,jdbcType=VARCHAR},
      </if>
      <if test="instanceStatus != null" >
        INSTANCE_STATUS = #{instanceStatus,jdbcType=INTEGER},
      </if>
      <if test="instanceTime != null" >
        INSTANCE_TIME = #{instanceTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceStartTime != null" >
        INSTANCE_START_TIME = #{instanceStartTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceEndTime != null" >
        INSTANCE_END_TIME = #{instanceEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="instanceScriptPath != null" >
        INSTANCE_SCRIPT_PATH = #{instanceScriptPath,jdbcType=VARCHAR},
      </if>
      <if test="tacheId != null" >
        TACHE_ID = #{tacheId,jdbcType=VARCHAR},
      </if>
    </set>
    where INSTANCE_ID = #{instanceId,jdbcType=VARCHAR}
  </update>
  
</mapper>